<!-- ********************************************************************** -->
<!-- Landing Page -->
<!-- ********************************************************************** -->

<div id="landing_page_div">
	<div id="landing_page_nav_div">
	  <form action="/users/new" method="get" class="navigation-form">
	    <input type="submit" value="Sign-Up" class="navigation-button">
	  </form>
	  <form action="/sessions/new" method="get" class="navigation-form">
	    <input type="submit" value="Log-In" class="navigation-button">
	  </form>
	</div>
	<div id="website_logo">
		<h1>Glemur Games</h1>
	</div>
</div>
