<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Glemur Games</title>
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/styles.css">
	<link href='http://fonts.googleapis.com/css?family=Sigmar+One|Changa+One|Bangers|Chewy|Luckiest+Guy' rel='stylesheet' type='text/css'>
	<script src="/javascripts/jquery.js"></script>
	<script src="/javascripts/scripts.js"></script>
	<script src="/javascripts/jquery.easing.1.3.js"></script>
	<script src="/javascripts/jquery.circulate.js"></script>	
</head>
<body>
	<%= yield %>
</body>
</html>



