<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Glemur Games</title>
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/styles.css">
	<script src="/javascripts/jquery.js"></script>
	<script src="/javascripts/scripts.js"></script>
</head>
<body>
	<%= yield %>
</body>
</html>



