<div class="navigation">
	<div>
	  <form action="/sessions" method="post">
	    <input type="hidden" name="_method" value="delete">
	    <input type="submit" value="Log-Out">
	  </form>
	</div>
	<div>
	  <form action="/games" method="get">
	    <input type="submit" value="Home">
	  </form>
	  <form action="/profile" method="get">
	    <input type="submit" value="Profile">
	  </form>
	  <form action="/scoreboard" method="get">
	    <input type="submit" value="Scoreboard">
	  </form>
	</div>
</div>

<h1>Hangman Page<h1>
